USE [master]
GO
/****** Object:  Database [tradingdb]    Script Date: 9/18/2022 12:48:43 PM ******/
CREATE DATABASE [tradingdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tradingdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\tradingdb.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'tradingdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQL2019\MSSQL\DATA\tradingdb_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [tradingdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [tradingdb]
GO
/****** Object:  Table [dbo].[tblTrades]    Script Date: 9/18/2022 12:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTrades](
	[RfId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](20) NOT NULL,
	[Login] [bigint] NOT NULL,
	[Deal] [bigint] NOT NULL,
	[Action] [int] NOT NULL,
	[Time] [datetime] NOT NULL,
	[Symbol] [varchar](32) NOT NULL,
	[Price] [decimal](18, 3) NOT NULL,
	[Profit] [decimal](18, 3) NOT NULL,
	[Volume] [bigint] NOT NULL,
 CONSTRAINT [PK_tblTrades] PRIMARY KEY CLUSTERED 
(
	[RfId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 9/18/2022 12:48:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserId] [varchar](20) NOT NULL,
	[Password] [varchar](30) NOT NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblUsers] ([UserId], [Password]) VALUES (N'fadi', N'12345')
INSERT [dbo].[tblUsers] ([UserId], [Password]) VALUES (N'mohamad', N'12345')
GO
ALTER TABLE [dbo].[tblTrades]  WITH CHECK ADD  CONSTRAINT [FK_tblTrades_tblUsers] FOREIGN KEY([UserId])
REFERENCES [dbo].[tblUsers] ([UserId])
GO
ALTER TABLE [dbo].[tblTrades] CHECK CONSTRAINT [FK_tblTrades_tblUsers]
GO
USE [master]
GO
